# Preprocessing


---

> Importing libraries and loading data

In [1]:
import numpy as np
import pandas as pd

In [2]:
train = pd.read_csv('train_data.csv')
test = pd.read_csv('test_data.csv')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

> Looking at the train and test sets

In [3]:
train.head()

            order_time  order_id  ... session_time cancelled_time
0  2021-01-26 02:21:35    556753  ...          NaN            NaN
1  2021-01-26 02:33:16    556754  ...     3.266667            NaN
2  2021-01-26 02:39:49    556755  ...     9.816667            NaN
3  2021-01-26 02:47:53    556756  ...    17.533333            NaN
4  2021-01-26 03:06:30    556757  ...     1.350000            NaN

[5 rows x 20 columns]

In [4]:
test.head()

            order_time  order_id  ... reassigned_order session_time
0  2021-02-06 10:03:24    130231  ...              NaN   273.400000
1  2021-02-06 10:03:26    130232  ...              NaN   252.100000
2  2021-02-06 10:03:27    130233  ...              NaN   241.383333
3  2021-02-06 10:03:29    130234  ...              NaN   291.933333
4  2021-02-06 10:03:35    130235  ...              NaN   247.133333

[5 rows x 16 columns]

> Delete pickup_time, delivered_time and cancelled_time from train set because they are missing in test set

In [5]:
train.drop(['pickup_time','delivered_time','cancelled_time'], axis=1, inplace=True)

> Convert date & time columns into datetime format

In [6]:
datetime_format = '%Y-%m-%d %H:%M:%S'
error_type = 'coerce'

for col in ['order_date','order_time','allot_time','accept_time'] :
    train[col] = pd.to_datetime(train[col], format=datetime_format, errors=error_type)
    test[col] = pd.to_datetime(test[col], format=datetime_format, errors=error_type)

> Extract day of the week, hour and minute for each field

In [7]:
train['order_date_dayofweek'] = train['order_date'].dt.dayofweek
train['order_time_hour'] = train['order_time'].dt.hour
train['order_time_minute'] = train['order_time'].dt.minute

test['order_date_dayofweek'] = test['order_date'].dt.dayofweek
test['order_time_hour'] = test['order_time'].dt.hour
test['order_time_minute'] = test['order_time'].dt.minute

> Since order_time, allot_time and accept_time differ only by seconds, we find the differences as new features

In [8]:
train['diff_allot-order'] = (train.allot_time - train.order_time).astype('timedelta64[s]')
train['diff_accept-allot'] = (train.accept_time - train.allot_time).astype('timedelta64[s]')

test['diff_allot-order'] = (test.allot_time - test.order_time).astype('timedelta64[s]')
test['diff_accept-allot'] = (test.accept_time - test.allot_time).astype('timedelta64[s]')

> An order is either reassiged or not, hence the NaNs in reassigned_order were filled with 0s

In [9]:
train['reassigned_order'] = train['reassigned_order'].fillna(0);
test['reassigned_order'] = test['reassigned_order'].fillna(0);

> Saving test_order_id for submission later, dropping unnecessary columns, placing target variable at the end

In [10]:
test_order_id = pd.DataFrame(test['order_id'], columns = ['order_id'])
cols_dropped = ['order_time','order_id','order_date','allot_time','accept_time','rider_id','reassignment_method','reassignment_reason']
train.drop(cols_dropped, axis=1, inplace=True)
test.drop(cols_dropped, axis=1, inplace=True)
train = train[[c for c in train if c not in ['cancelled']] + [c for c in ['cancelled'] if c in train]]

> Taking a look at the train and test sets again, we see that they have the same features

In [11]:
train.head()

   first_mile_distance  last_mile_distance  ...  diff_accept-allot  cancelled
0               1.5666                2.65  ...                9.0          0
1               2.5207                2.76  ...               48.0          0
2               2.2074                4.80  ...               16.0          0
3               2.1894                6.38  ...               41.0          0
4               2.7870                4.01  ...               36.0          0

[5 rows x 14 columns]

In [12]:
test.head()

   first_mile_distance  last_mile_distance  ...  diff_allot-order  diff_accept-allot
0               1.6585                4.54  ...              25.0               26.0
1               2.0709                5.84  ...               1.0                9.0
2               1.3884                0.99  ...              47.0               80.0
3               1.9039                2.59  ...               1.0               23.0
4               0.8275                0.94  ...               8.0               60.0

[5 rows x 13 columns]

> Data matrix and target column were extracted as X and y respectively

In [13]:
X = train.drop(['cancelled'], axis=1)
y = pd.DataFrame(train['cancelled'], columns = ['cancelled'])

> Describing the train set

In [14]:
X.describe()

       first_mile_distance  ...  diff_accept-allot
count        450000.000000  ...      449843.000000
mean              1.229889  ...          61.005662
std               0.846183  ...         107.454660
min               0.000134  ...      -28534.000000
25%               0.539575  ...          15.000000
50%               1.138700  ...          37.000000
75%               1.853000  ...          63.000000
max              42.038100  ...         930.000000

[8 rows x 13 columns]

> We see  that diff_accept-allot has negative values, which is meaningless. We drop those rows

In [15]:
y.drop(X[X['diff_accept-allot'] < 0].index, inplace=True)
X.drop(X[X['diff_accept-allot'] < 0].index, inplace=True)

# Training and Validation


---


> The hyperparameters were obtained through trial and error, with 5-fold stratified CV to handle the class imbalance

## Model 1: XGBoost

In [16]:
from xgboost import XGBClassifier
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import cross_val_score

kfold = StratifiedKFold(n_splits=5, shuffle=True, random_state=1)
xgbc1 = XGBClassifier(learning_rate=0.1,
                     max_depth=5,
                     gamma=0.1,
                     min_child_weight=7,
                     scale_pos_weight=85.24,
                     random_state=1,
                     n_jobs=-1)
# scores = cross_val_score(xgbc1, X, y.values.ravel(), scoring='roc_auc', cv=kfold)
# print(scores.mean())

from sklearn.utils import shuffle
X_sh, y_sh = shuffle(X, y, random_state=1)

xgbc1.fit(X_sh, y_sh.values.ravel())

y_pred_1 = xgbc1.predict_proba(test)

## Model 2: LightGBM
> Probabilities calibrated to handle the class imbalance

In [17]:
from lightgbm import LGBMClassifier
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import cross_val_score

kfold = StratifiedKFold(n_splits=5, shuffle=True, random_state=1)
lgbc1 = LGBMClassifier(num_leaves=16,
                       max_depth=5,
                       learning_rate=0.05,
                       n_estimators=100,
                       subsample_for_bin=200000,
                       is_unbalance=True,
                       min_split_gain=0.,
                       min_child_weight=1e-3,
                       min_child_samples=20,
                       subsample=1.,
                       subsample_freq=0,
                       colsample_bytree=1.,
                       reg_alpha=0.,
                       reg_lamba=0.,
                       random_state=1,
                       n_jobs=-1)
# scores = cross_val_score(lgbc1, X, y.values.ravel(), scoring='roc_auc', cv=kfold)
# print(scores.mean())

from sklearn.utils import shuffle
X_sh, y_sh = shuffle(X, y, random_state=1)

from sklearn.calibration import CalibratedClassifierCV
lgbc1_cal = CalibratedClassifierCV(lgbc1, cv=kfold, n_jobs=-1)
lgbc1_cal.fit(X_sh, y_sh.values.ravel())

y_pred_2 = lgbc1_cal.predict_proba(test)

## Splitting order_date_dayofweek Into Separate Features

In [18]:
def extract_day_info(df) :
    days = ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']

    for i in range(0, 7) :
        df[days[i]] = np.where(df['order_date_dayofweek']==i, 1, 0)

    df.drop(['order_date_dayofweek'], axis=1, inplace=True)

extract_day_info(X)
extract_day_info(test)

## Model 3: LightGBM
> After week day splitting; probabilities calibrated to handle the class imbalance

In [19]:
from lightgbm import LGBMClassifier
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import cross_val_score

kfold = StratifiedKFold(n_splits=5, shuffle=True, random_state=1)
lgbc2 = LGBMClassifier(num_leaves=5,
                       max_depth=6,
                       learning_rate=0.1,
                       n_estimators=150,
                       subsample_for_bin=200000,
                       scale_pos_weight=85.63361571043512,
                       min_split_gain=0,
                       min_child_weight=0.001,
                       min_child_samples=21,
                       subsample=1,
                       subsample_freq=0,
                       colsample_bytree=0.9,
                       reg_alpha=0,
                       reg_lamba=0,
                       random_state=1,
                       n_jobs=-1)
# scores = cross_val_score(lgbc2, X, y.values.ravel(), scoring='roc_auc', cv=kfold)
# print(scores.mean())

from sklearn.utils import shuffle
X_sh, y_sh = shuffle(X, y, random_state=1)

from sklearn.calibration import CalibratedClassifierCV
lgbc2_cal = CalibratedClassifierCV(lgbc2, cv=kfold, n_jobs=-1)
lgbc2_cal.fit(X_sh ,y_sh.values.ravel())

y_pred_3 = lgbc2_cal.predict_proba(test)

## Imputing Missing Values

In [ ]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer = imputer.fit(X)
  
X = imputer.transform(X)

In [ ]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer = imputer.fit(test)
  
test = imputer.transform(test)

## Model 4: XGBoost
> After week day splitting and imputing

In [22]:
from xgboost import XGBClassifier
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import cross_val_score

kfold = StratifiedKFold(n_splits=5, shuffle=True, random_state=1)
xgbc2 = XGBClassifier(learning_rate=0.1,
                     max_depth=5,
                     gamma=0.125,
                     min_child_weight=7,
                     scale_pos_weight=84.88,
                     random_state=1,
                     n_jobs=-1)
# scores = cross_val_score(xgbc2, X, y.values.ravel(), scoring='roc_auc', cv=kfold)
# print(scores.mean())

from sklearn.utils import shuffle
X_sh, y_sh = shuffle(X, y, random_state=1)

xgbc2.fit(X_sh, y_sh.values.ravel())

y_pred_4 = xgbc2.predict_proba(test)

# Final Prediction: Ensemble of Four Models


---

In [23]:
df = pd.DataFrame(test_order_id, columns = ['order_id'])
df['cancelled'] = (np.array(y_pred_1[:,1]) + np.array(y_pred_2[:,1]) + np.array(y_pred_3[:,1]) + np.array(y_pred_4[:,1]))/4.0
df.to_csv("./predictions_proba_ensembled_best4.csv", header=True, index=False)